/* Write your code here. */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.bg-container {
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner-container {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  width: 35vw;
}
.letter-container {
  text-align: center;
  background-color: white;
  margin-top: 24px;
  border-radius: 12px;
}
.main-heading {
  color: white;
  font-family: 'Roboto';
}
.para {
  color: white;
  font-family: 'Roboto';
  margin-top: 0px;
  font-weight: lighter;
}
.img {
  width: 60vw;
}
.input-el {
  background-color: transparent;
  width: 34vw;
  height: 40px;
  border: 2px solid #e4e7eb;
  color: #e4e7eb;
  font-size: 24px;
  outline: none;
}
.letter-para {
  color: #219a6f;
  padding-right: 0px;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: bold;
}
